<p>{{titles | uppercase}}</p>

<h4>{{Amount | currency}}</h4>

<h4>{{Amount | currency : "INR"}}</h4>

<h4>{{Amount | number : "1.1-3"}}</h4>

<h4>{{currentdate | date}}</h4>
<h4>{{currentdate | date : "dd/MM/yyyy"}}</h4>
<h4>{{currentdate | date : "dd/MMM/yy"}}</h4>

<h4>{{percentage | percent}}</h4>

<h4>{{slice | slice:  0:8}}</h4>

<h4>{{jsonformat | json | uppercase}}</h4>

<!-- <h4>{{Amount | custompipe}}</h4> -->

<!-- <h4>{{Amount | custompipe : 3}}</h4> -->

<h4>{{Amount | custompipe : rate}}</h4>